@import 'helpers';

@include keyframes(pop) {
  0% {
    @include transform(scale(1));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}

@include keyframes(appear) {
  0% {
    opacity: 0;
    @include transform(scale(1.5));
  }

  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(win-screen-appear) {
  0% {
    opacity: 0;
    @include transform(scale(.5));
  }

  100% {
    opacity: .85;
    @include transform(scale(1));
  }
}



