@import 'helpers';
@import 'animations';

// ************************************
// variables
// ************************************

$field-width: 500px;
$small-screen: $field-width + 20px;
$uber-color: #1fbad6;

// game field
$game-container-margin-top: 40px;
$grid-spacing: 10px;
$grid-row-cells: 3;
$grid-size: ($field-width - $grid-spacing * ($grid-row-cells + 1) - 1) / $grid-row-cells;
$grid-border-radius: 6px;
$squared-spacing: 5px;
$squared-row-cells: 3;
$tile-size: ($grid-size - $squared-spacing * ($squared-row-cells - 1)) / $squared-row-cells;

$game-button-spacing: 7px;
$game-button-radius: 6px;
$number-container-margin-top: 20px;
$number-container-width: $field-width;
$number-buttons: 9;
$button-width: ($number-container-width - $game-button-spacing * ($number-buttons - 1)) / $number-buttons;
$number-container-height: $button-width;
$extra-button-container-margin-top: 5px;
$extra-button-container-width: $field-width;
$extra-button-container-height: $button-width;

// ************************************
// main
// ************************************
html, 
body {
  background: #fff url('https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg') repeat left top;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  margin: 60px 0;
}

.btn {
  background-color: $uber-color;
  border: 0;
  color: #fff;
  font-size: 25px;
  outline: none;
  @include border-radius($game-button-radius);

  &:active {
    // background-color: #1a879b;
    @include animation(pop 200ms);
  }
}

.heading {
  h1.title {
    display: block;
    float: left;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
  }

  .control-row {
    float: right;
    padding-top: 10px;
  }

  .btn-retry {
    font-size: 30px;
    height: 60px;
    width: 60px;
  }

  @include clearfix;
}

.container {
  margin: 0 auto;
  width: $field-width;
}


.game-container {
  background: #070716;
  height: $field-width;
  margin-top: $game-container-margin-top;
  padding: $grid-spacing;
  position: relative;
  width: $field-width;
  @include border-radius($grid-border-radius);
  @include box-sizing(border-box);
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: $grid-spacing;
  @include clearfix;

  &:last-child {
    margin-bottom: 0;
  }
}

.grid-cell {
  float: left;
  height: $grid-size;
  margin-right: $grid-spacing;
  position: relative;
  width: $grid-size;

  &:last-child {
    margin-right: 0;
  }
}

.squared-container {
  padding: 0;
  position: absolute;
  z-index: 2;
}

.squared-row {
  margin-bottom: $squared-spacing;
  @include clearfix;

  &:last-child {
    margin-bottom: 0;
  }
}

.squared-cell {
  background-color: #f0f0f0;
  float: left;
  height: $tile-size;
  margin-right: $squared-spacing;
  width: $tile-size;
  
  &:last-child {
    margin-right: 0;
  }

  &.selected {
    outline: 5px solid $uber-color;
  }

  &.highlighted {
    @include box-shadow(0 0 20px 0 $uber-color inset);
  }

  &.same-number {
    @include box-shadow(0 0 20px 0 #000 inset);
  }
}

.tile {
  height: 100%;
  width: 100%;
}

.draft-tile {
  color: #9ca2a3;
  font-size: 14px;
  height: 100%;
  padding: 1px;
  position: relative;
  width: 100%;
  @include box-sizing(border-box);

  @for $x from 0 through $grid-row-cells - 1 {
    @for $y from 0 through $grid-row-cells - 1 {
      .number-position-#{$y}-#{$x} {
        $xpos: $tile-size / 3 * $x + $tile-size / 12;
        $ypos: $tile-size / 3 * $y;
        @include transform(translate($xpos, $ypos));
      }
    }
  }

  .number {
    position: absolute;
  }
}

.number-tile {
  color: #000;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
  @include box-sizing(border-box);
  @include animation(appear 200ms);

  .number {
    font-size: 40px;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%));

    &.fixed {
      color: $uber-color;
    }
  }
}

.number-container {
  height: $number-container-height;
  margin-top: $number-container-margin-top;
  width: $number-container-width;
  @include border-radius($game-button-radius);
  @include box-sizing(border-box);
}

.btn-game {
  float: left;
  height: $button-width;
  margin-right: $game-button-spacing;
  width: $button-width;

  &:last-child {
    margin-right: 0;
  }
}

.extra-button-container {
  height: $extra-button-container-height;
  margin-top: $extra-button-container-margin-top;
  width: $extra-button-container-width;
  @include border-radius($game-button-radius);
  @include box-sizing(border-box);
}

@include smaller($small-screen) {
  // redefine size variable
  $game-container-margin-top: 17px;
  $field-width: 300px;
  $grid-spacing: 5px;
  $grid-border-radius: 3px;
  $grid-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
  $squared-spacing: 2px;
  $tile-size: ($grid-size - $squared-spacing * ($squared-row-cells - 1)) / $squared-row-cells;

  $game-button-spacing: 4px;
  $game-button-radius: 3px;
  $number-container-margin-top: 20px;
  $number-container-width: $field-width;
  $button-width: ($number-container-width - $game-button-spacing * ($number-buttons - 1)) / $number-buttons;
  $number-container-height: $button-width;
  $extra-button-container-margin-top: 5px;
  $extra-button-container-width: $field-width;
  $extra-button-container-height: $button-width;

  html, 
  body {
    font-size: 15px;
  }

  body {
    margin-top: 0;
    padding-top: 20px;

  }

  .btn {
    @include border-radius($game-button-radius);
    font-size: 15px;
  }

  .heading {
    h1.title {
      font-size: 27px;
    }

    .control-row {
      padding-top: 5px;
    }

    .btn-retry {
      font-size: 15px;
      height: 27px;
      width: 27px;
    }
  }

  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 15px;
  }

  .container {
    width: $field-width;
  }

  .game-container {
    height: $field-width;
    margin-top: $game-container-margin-top;
    padding: $grid-spacing;
    width: $field-width;
    @include border-radius($grid-border-radius);
  }

  .grid-row {
    margin-bottom: $grid-spacing;
  }

  .grid-cell {
    height: $grid-size;
    margin-right: $grid-spacing;
    width: $grid-size;
  }

  .squared-row {
    margin-bottom: $squared-spacing;
  }

  .squared-cell {
    height: $tile-size;
    margin-right: $squared-spacing;
    width: $tile-size;

    &.selected {
      outline: 2px solid $uber-color;
    }

    &.highlighted {
      @include box-shadow(0 0 10px 0 $uber-color inset);
    }

    &.same-number {
      @include box-shadow(0 0 10px 0 #000 inset);
    }
  }

  .draft-tile {
    font-size: 8px;

    @for $x from 0 through $grid-row-cells - 1 {
      @for $y from 0 through $grid-row-cells - 1 {
        .number-position-#{$y}-#{$x} {
          $xpos: $tile-size / 3 * $x + $tile-size / 12;
          $ypos: $tile-size / 3 * $y;
          @include transform(translate($xpos, $ypos));
        }
      }
    }
  }

  .number-tile {
    .number {
      font-size: 20px;
    }
  }

  .number-container {
    height: $number-container-height;
    margin-top: $number-container-margin-top;
    width: $number-container-width;
    @include border-radius($game-button-radius);
  }

  .btn-game {
    height: $button-width;
    margin-right: $game-button-spacing;
    width: $button-width;
  }

  .extra-button-container {
    height: $extra-button-container-height;
    margin-top: $extra-button-container-margin-top;
    width: $extra-button-container-width;
    @include border-radius($game-button-radius);
  }
}
