// ************************************
// variables
// ************************************
$grid-container-width: 500px;
$grid-cell-padding: 10px;
$squard-cell-padding: 5px;
$button-padding: 7px;
$grid-cell-width: ($grid-container-width - $grid-cell-padding) / 3 - $grid-cell-padding;
$squard-cell-width: ($grid-cell-width + $squard-cell-padding) / 3 - $squard-cell-padding;
$number-container-width: $grid-container-width;
$button-width: ($number-container-width - $button-padding) / 9 - $button-padding;
$number-container-height: $button-width + $button-padding * 2;
$extra-buttons-container-width: $grid-container-width;
$extra-buttons-row-width: $button-width * 2 + $button-padding * 3;
$extra-buttons-container-height: $button-width + $button-padding * 2;

$mobile-grid-container-width: 280px;
$mobile-grid-cell-padding: 5px;
$mobile-squard-cell-padding: 3px;
$mobile-button-padding: 2px;
$mobile-grid-cell-width: ($mobile-grid-container-width - $mobile-grid-cell-padding) / 3 - $mobile-grid-cell-padding;
$mobile-squard-cell-width: ($mobile-grid-cell-width + $mobile-squard-cell-padding) / 3 - $mobile-squard-cell-padding;
$mobile-number-container-width: $mobile-grid-container-width;
$mobile-button-width: ($mobile-number-container-width - $mobile-button-padding) / 9 - $mobile-button-padding;
$mobile-number-container-height: $mobile-button-width + $mobile-button-padding * 2;
$mobile-extra-buttons-container-width: $mobile-grid-container-width;
$mobile-extra-buttons-row-width: $mobile-button-width * 2 + $mobile-button-padding * 3;
$mobile-extra-buttons-container-height: $mobile-button-width + $mobile-button-padding * 2;

// ************************************
// mixin
// ************************************
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

@mixin float-after() {
    content: "";
    display: block;
    clear: both;
}

// ************************************
// main
// ************************************
html, body {
    background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg) repeat left top;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    margin: 60px 0
}

.heading {
    h1.title{
        font-size: 60px;
        font-weight: bold;
        margin: 0;
        display: block;
        float: left;
    }
}

.heading:after {
    @include float-after();
}

.container {
    width: $grid-container-width;
    margin: 0 auto;
}

.game-container {
    position: relative;
    background: #070716;
    width: $grid-container-width;
    height: $grid-container-width;
    margin-top: 40px;
    padding: $grid-cell-padding;
    @include border-radius(6px);
    @include box-sizing(border-box);
}

.grid-container {
    position: absolute;
    z-index: 1;
}

.grid-row {
    margin-bottom: $grid-cell-padding;
}

.grid-row:last-child {
    margin-bottom: 0;   
}

.grid-row:after {
    @include float-after();
}

.grid-cell {
    margin-right: $grid-cell-padding;
    width: $grid-cell-width;
    height: $grid-cell-width;
    float: left;
    position: relative;
}

.grid-cell:last-child {
    margin-right: 0;
}

.squard-container {
    position: absolute;
    z-index: 2;
    padding: 0;
}

.squard-row {
    margin-bottom: $squard-cell-padding;
}

.squard-row:last-child {
    margin-bottom: 0;
}

.squard-row:after {
    @include float-after();
}

.squard-cell {
    margin-right: $squard-cell-padding;
    width: $squard-cell-width;
    height: $squard-cell-width;
    float: left;
    background-color: #F0F0F0;
}

.squard-cell:last-child {
    margin-right: 0;
}

.number-container {
    width: $number-container-width;
    height: $number-container-height;
    margin-top: 20px;
    padding: $button-padding;
    @include border-radius(6px);
    @include box-sizing(border-box);
}

.number-row {
    margin-bottom: $button-padding;
}

.number-cell {
    margin-right: $button-padding;
    width: $button-width;
    height: $button-width;
    float: left;
    background-color: #1fbad6;
    @include border-radius(6px);
}

.number-cell:last-child {
    margin-right: 0;
}

.number-row:after {
    @include float-after();
}

.extra-buttons-container {
    width: $extra-buttons-container-width;
    height: $extra-buttons-container-height;
    margin-top: 5px;
    padding: $button-padding;
    @include border-radius(6px);
    @include box-sizing(border-box);
}

.extra-buttons-row {
    float: right;
}

.extra-buttons-row:after {
    @include float-after();
}



@media screen and (max-width: 520px) {
    html, body {
        font-size: 15px;
    }

    body {
        margin-top: 0;
        padding: 20px;
    }

    .heading {
        h1.title{
            font-size: 27px;
        }
    }

    .container {
        width: $mobile-grid-container-width;
    }

    .game-container {
        width: $mobile-grid-container-width;
        height: $mobile-grid-container-width;
        margin-top: 17px;
        padding: $mobile-grid-cell-padding;
    }

    .grid-row {
        margin-bottom: $mobile-grid-cell-padding;
    }

    .grid-cell {
        margin-right: $mobile-grid-cell-padding;
        width: $mobile-grid-cell-width;
        height: $mobile-grid-cell-width;
    }

    .squard-row {
        margin-bottom: $mobile-squard-cell-padding;
    }

    .squard-cell {
        margin-right: $mobile-squard-cell-padding;
        width: $mobile-squard-cell-width;
        height: $mobile-squard-cell-width;
    }

    .number-container {
        width: $mobile-number-container-width;
        height: $mobile-number-container-height;
        margin-top: 10px;
        padding: $mobile-button-padding;
    }

    .number-row {
        margin-bottom: $mobile-button-padding;
    }

    .number-cell {
        margin-right: $mobile-button-padding;
        width: $mobile-button-width;
        height: $mobile-button-width;
    }

    .extra-buttons-container {
        width: $mobile-extra-buttons-container-width;
        height: $mobile-extra-buttons-container-height;
        margin-top: 3px;
        padding: $mobile-button-padding;
    }
}